.barra {
    height: 100%;
    width: 350px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .LINEA {
    height: 100%;
    width: 350px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
  }


.contenedor{

    margin: auto;
    width: 940px; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b;    
            }


.texto-encima{
    position: absolute;
    top: 640px;
    left: 50px;
}
.centrado{
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 248, 248);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
 background-color: #F9F8FC;
}

nav{
height: 80px;
background-color:#000000;
text-align: center;
}

nav ul{
 list-style: none;
 display: inline-block;
 padding:18px;
}

nav ul li{
  float: left;
  margin-top: 20px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  font-family:'Franklin Gothic Medium';
}

nav ul li a:hover{
background-color: #7c9fd4;
}

.h1 {
  float: left;
  margin: 25px;
  color: rgb(0, 0, 0);
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

#palabra1{
  color: rgb(0, 0, 0);
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}

.boton_pers{
  
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 250px;
  padding-right: 80px;
  background:rgb(218, 15, 15);
  border:  solid #000000;
  cursor:pointer;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 790px;
}

.boton_pers::before{
  content:'Aquí encontraras algunas de las características';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color:#F9F8FC;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .1rem #333;
  transition: .2s ease;

}

.boton_pers::after{
  content:'Pulse Aquí';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 15px;
  color:#F9F8FC;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .1rem #333;
  transition: .2s ease;
  opacity: 0;
}

.boton_pers:hover::before{
  transform: translate(-50%, -50%) scale(3);
  opacity: 0;
}

.boton_pers:hover::after{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}