

.barra {
    height: 100%;
    width: 350px;
    background-color: rgb(20, 54, 94);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .LINEA {
    height: 100%;
    width: 350px;
    background-color: rgb(20, 54, 94);
    position: fixed;
    top: 0;
    right: 0;
  }


.contenedor{

    margin: auto;
    width: 780px; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b;    
            }


.texto-encima{
    position: absolute;
    top: 640px;
    left: 50px;
}
.centrado{
    position: absolute;
    top: 13%;
    left: 55%;
    transform: translate(-50%, -50%);
}

h1{color: rgb(255, 248, 248);}