.barra {
    height: 100%;
    width: 350px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .LINEA {
    height: 100%;
    width: 350px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
  }


.contenedor{

    margin: auto;
    width: 940px; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b;    
            }


.texto-encima{
    position: absolute;
    top: 640px;
    left: 50px;
}
.centrado{
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 248, 248);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
 background-color: #F9F8FC;
}

#logo{
 margin: auto;
 height: 250px;
 width: 320px;
 text-align: center;
}

#logo h1{
  font-family:'Courier New';
  font-size: 58px;
}

nav{
height: 80px;
background-color:#000000;
text-align: center;
}

nav ul{
 list-style: none;
 display: inline-block;
 padding:18px;
}

nav ul li{
  float: left;
  margin-top: 20px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
}

nav ul li a:hover{
background-color: #7c9fd4;
}

@import "compass/css3";

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 80%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 30px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 35px;
  padding: 0 40px 0 8px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 3px;
  margin-top: 11px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 70px;
	height: 40px;
  padding: 0;
  border: none;
	margin-top: 14px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  line-height: 40px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}


/****************
 * Pretify demo *
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color: rgb(0, 0, 0);
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

#palabra1{
  color: rgb(0, 0, 0);
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}

.boton-personalizado{
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(255, 143, 143);
  border-radius: 50%;
  margin-left: 785px;
  margin-right: px;
}